apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  name: budget-mgmt-ingress
  namespace: budget-app
spec:
  ingressClassName: nginx
  rules:
  - host: budget.izznoland.dev
    http:
      paths:
      - backend:
          service:
            name: budget-api
            port:
              number: 8080
        path: /api
        pathType: Prefix
      - backend:
          service:
            name: budget-ui
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - budget.izznoland.dev
    secretName: budget-app-secret

